{% extends 'layout.twig' %}

{% block content %}
    <div class="user-profile">
        <h1>{{ 'User profile'|translate }}</h1>

        <table>
            <tr>
                <td>{{ 'Name'|translate }}:</td>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ user.email }}</td>
            </tr>
            {% if (user.photo) %}
            <tr>
                <td>{{ 'Photo'|translate }}:</td>
                <td><img src="/uploads/{{ user.photo }}" alt="" style="max-width: 500px;max-height: 500px"></td>
            </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}